<div class="-mx-4 -my-6 sm:-mx-6 lg:-mx-8" data-selecto-explorer-host>
  <.live_component
    module={SelectoViews.Explorer}
    id="pagila-explorer"
    selecto={@selecto}
    params={@params}
    options={[
      title: @page_title,
      default_limit: 25,
      max_limit: 100,
      show_sql: true,
      query_params: true,
      stylesheet_href: "/selecto-views/selecto-views.css"
    ]}
  />
</div>
